body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background: #222;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.link {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.link.active {
    color: yellow;
}

.page {
    padding: 40px;
    text-align: center;
}

.products {
    padding: 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.card img {
    height: 150px;
    object-fit: contain;
}

.card:hover {
    transform: scale(1.05);
}